@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Our Purpose</h2>

    Currently, 40% of our food supply is wasted, and still, 17% of families are living in food insecurity.  The resources are available, but we are not efficiently transporting these supplies into locations that need them the most.

    SmartCity Supplies is dedicated to building a network that reroutes food and other critical resources throughout the city in order to better service the needs of our currently underserved communities.  To begin to tackle this challenge, we must build an understanding of the demands that face our community assistance programs by collecting data on the methods of rerouting supply into these communities,  As supply, demand and transportation data gets aggregated, our city can coordinate a more intelligent inventory rerouting system that can minimize waste, optimize distribution chains, and improve the resource reallocation methods to better support our underserved communities.

    So, why do it?  We strongly believe that a rising tide lifts all boats.  Less waste and a more evenly distributed food system will result in a more sustainable city and a stronger, healthier community as a whole.

    <h3>Are you a Charitable Organization?</h3>

    If so, sign up and begin tracking your organization’s demands to document consistent shortages and allow for members of our community to offer support to better supply your organization’s needs.

    <h3>Are you a Supplier or interested in becoming a Volunteer?</h3>

    Sign up now to begin sharing when you have extra supplies available to get reallocated to other organizations in need.  Don’t have any supplies to offer, then don’t worry, you can sign up as a volunteer to offer up your time to complete the transportation of food and other critical resources from local suppliers to local charitable organizations.

</div>
